/*Schrijf hier jouw CSS*/
* {
    border: 1px solid indianred;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;

}

header, footer {
    flex-basis: 100px;
    flex-grow: 0;
    flex-shrink: 0;
}

nav {
    order: -1;

}

nav, aside {
    flex-basis: 20%;
    flex-grow: 0;
    flex-shrink: 0;
}

article {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
}